body {
  font-family: Gill Sans;
  background-image: url(../pictures/Warehause.png);
  background-size: 100% 100%;
  min-height: 100vh;
  min-width: 100vh ;
  transition: 1s;
}

header {
  background-color: white;
  position: relative;
  height: 20%;
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  transition: 1s;
}
header p {
  margin-left: 10%;
  margin: auto;
}
header a {
  color: navy;
  transition: 1s;
}
header a:visited {
  color: burlywood;
}
header a:hover {
  color: black;
  font-size: 24px;
}
header h1 {
  margin-left: 5px;
}
main {
  display: flex;
  justify-content: center;
}

.logpanel {
  border: 2px solid black;
  text-align: center;
  position: relative;
  height: 400px;
  width: 300px;
  background-color: white;
  opacity: 0.9;
  padding: 20px 0 0 0;
  margin: 30px auto;
  transition: 1s;
}
.logpanel button {
  margin: 20px 0 0 0;
}
.hiden{
  display: none;
}

