body {
    font-family: Gill Sans;
    background-image: url(../pictures/Warehause.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100vh;
    transition: 1s;
  }

header {
  background-color: white;
  position: relative;
  height: 20%;
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  transition: 1s;
}
header p {
  margin-left: 10%;
  margin: auto;
}
header a {
  color: navy;
  transition: 1s;
}
header a:visited {
  color: burlywood;
}
header a:hover {
  color: black;
  font-size: 24px;
}
header h1 {
  margin-left: 5px;
}
.ad {
  height: 70%;
  width: 100%;
}
.ad img {
  height: 70%;
  width: 100%;
}



